:root{
    /* white theme */
    --bg: #0b0b0b;
    --other-bg: #1a1a1a;
    --clr: #e8e8e8;
    --hover-clr: #cacaca;
    --bg-lb: #121212;
    --shdw-btn: #333a;
    --hover-bg: #000;
    --sbc: #000;
  }