:root{
    /* white theme */
    --bg: #fff;
    --other-bg: #f8f8f8;
    --clr: #000;
    --hover-clr: #2b2b2b;
    --bg-lb: #f6f6f6;
    --shdw-btn: #0005;
    --hover-bg: #8882;
    --sbc: #0003;
  }